{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="" method="POST" class="sending-email">
            {% csrf_token %}
            <div class="form-control">
                <div class="tag">Name</div>
                <input type="text" name="full-name">
            </div>
            <div class="form-control">
                <div class="tag">Email</div>
                <input type="text" name="email">
                    <div class="alert error">
                      <input type="checkbox" id="alert1"/>
                      <label class="close" title="close" for="alert1">
                        <i class="icon-remove"></i>
                      </label>
                      <p class="inner">
                        <strong>Warning!</strong> Invalid email!
                      </p>
                    </div>
            </div>
            <div class="form-control">
                <div class="tag">Subject</div>
                <input type="text" name="subject">
            </div>
            <div class="form-control">
                <div class="tag">Message</div>
                <textarea name="message" cols="30" rows="10"></textarea>
            </div>
            <div class="form-control">
                <input type="Submit" class="btn submit-btn" value="Send Message">
            </div>
        </form>
        
    </div>
</body>
</html>